
{% extends 'store/base.html' %}
{% load static %}
{% block content %}



{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}


<section class="section-content padding-y bg">

<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->

<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
		<article class="gallery-wrap"> 
	<div class="img-big-wrap">
	   <a href="#"><img src="{{ product.image.url}}"></a>
	</div> <!-- img-big-wrap.// -->
	
</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<form action="{% url 'add_to_cart' product.id %}" method="POST">
	{% csrf_token %}
	<article class="content-body">

		<h2 class="title">{{product.name}}</h2>

		<div class="mb-3"> 
			<var class="price h4">tk{{product.price}}</var> 
			<del style="margin-left: 2px;">tk{{product.old_price}}</del>
			{% if product.price_drop  %}
			<p class="text-success">
				You save: {{ product.price_drop.amount }} টাকা ({{ product.price_drop.percentage }}%)
			</p>
			{% endif %}
		</div> 

			<p>{{product.description}} </p> <small><p>মোট স্টক: {{ product.total_stock }}</p>
</small>


			<hr>
				<div class="row">
					<div class="item-option-select">
    <h6>Choose Color</h6>
    <select name="color" class="form-control" required>
        <option value="" disabled selected>choose color</option>
        {% for item in available_colors %}
            <option value="{{ item.color.variation_value }}"
                {% if not item.is_available %} disabled {% endif %}>
                {{ item.color.variation_value }}
                {% if not item.is_available %} (Out of stock) {% endif %}
            </option>
        {% endfor %}
    </select>
</div>
				</div> <!-- row.// -->
					<div class="row">
						<div class="item-option-select">
							<h6>Select Size</h6>
							<select name="size" class="form-control" required >
								<option value="" disabled selected >choose size</option>

								{% for i in product.variation_set.sizes %}
								
								<option value="{{i.variation_value}}">{{i.variation_value}}</option>
								
								{% endfor %}

								
								
							</select>
						</div>
					</div> <!-- row.// -->

							{% if selected_stock != None %}
			                   <p style="color:green;">✅ Total stock for selected variation: {{ selected_stock }}</p>
		                    {% endif %}
					<hr>
					{% if product.stock > 0 %}
						{% if in_cart %}
					<a href="#" class="btn  btn-success"> <span class="text">Added to cart</span> <i class="fas fa-check"></i>  </a>
					<a href="{% url 'cart' %}" class="btn  btn-success"> <span class="text">view to cart</span> <i class="fas fa-eye"></i>  </a>


						{% else %}
					<button href="#" type="submit" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
						{% endif %}
					{% else %}
					<a href="#" class="btn  btn-secondary disabled"> <span class="text">Out of Stock</span> <i class="fas fa-shopping-cart"></i>  </a>
					{% endif %}
					
	</article> <!-- product-info-aside .// -->
	</form>
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->


<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<div class="row">
			<div class="col-md-9">

	<header class="section-heading">
		<h3>Customer Reviews </h3>  
		
	</header>

	<article class="box mb-3">
		<div class="icontext w-100">
			<img src="{% static 'images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
			<div class="text">
				<span class="date text-muted float-md-right">24.04.2020 </span>  
				<h6 class="mb-1">Mike John </h6>
				
			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<p>
				Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip
			</p>	
		</div>
	</article>

	

	</div> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}